APP_PORT=8280
HOST_DATA_DIR=./data
TTRSS_DB_DIR=./data/db
TTRSS_APP_DIR=./data/app
TTRSS_CONFIG_DIR=./data/config.d
PROXY_NETWORK_NAME=proxy-network
TTRSS_PROXY_ALIAS=ttrss
TZ=Asia/Tokyo

TTRSS_DB_USER=postgres
TTRSS_DB_NAME=postgres
TTRSS_DB_PASS=change-me
TTRSS_SELF_URL_PATH=http://localhost:8280/tt-rss/
